{
  "presets": [
    [
      "env", {
        "modules": false,
        "useBuiltIns": true
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-decorators-legacy"
  ]
}